@import '@/styles/index.scss';

.container {
    @include flexCenter;
    background: $bg-app;

    .container-login {
        background-image: url('../../assets/image/login/login-background.jpg');
        width: 70vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        @include flexCenter;
        position: relative;
        min-height: 375px;
        min-width: 320px;

        .login-form {
            width: 70%;
            @include flexCenter;
            flex-direction: column;

            &-title {
                color: $text-logo;
                margin-bottom: 100px;
                font-size: 4rem;
                align-self: center;
            }

            .input-form {
                display: flex;
                flex-direction: column;

                &-user {
                    background-color: $bg-input;
                    margin: 4px 0px;
                    padding: 8px 12px;
                    display: flex;
                    border-radius: 5px;

                    input {
                        outline: none;
                        border: none;
                        flex-grow: 1;
                        max-width: 95%;
                        padding-left: 10px;
                    }
                }

                &-language {
                    align-self: flex-end;
                    margin-top: 8px;

                    select {
                        border-radius: 4px;
                        outline: none;
                        border: none;
                        padding: 4px 12px;
                        cursor: pointer;

                        option {
                            padding: 4px 12px;
                            cursor: pointer;
                        }
                    }
                }
            }

            &-btn {
                align-self: center;
                width: 200px;
                margin-top: 100px;
                cursor: pointer;

                button {
                    @include btn($bg-app, $text);

                    &:hover {
                        background-color: $btn-error;
                    }
                }
            }

            .error {
                color: $text-error;
            }

            .success {
                color: $text-success;
            }

            &-message {
                font-weight: 600px;
                font-size: 2rem;
                align-self: center;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%, 50%);
            }
        }

        @media screen and (max-width: 1440px) {

            width: 100vw;

            .login-form {

                &-title {
                    font-size: 4rem;
                }

                .input-form {

                    &-user {
                        font-size: 2rem;

                        input {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }


        @media screen and (max-width: 1024px) {

            .login-form {
                width: 80%;

                .input-form {
                    &-user {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {

            .login-form {

                &-title {
                    font-size: 3rem;
                    margin-bottom: 80px;

                    @media screen and (max-width: 570px) {
                        font-size: 2rem;
                    }
                }

                .input-form {
                    &-user {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        @media screen and (max-width: 420px) {
            .login-form {
                &-title {
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }

                .input-form {

                    &-user {
                        font-size: 1rem;
                    }

                }

                &-message {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-height: 500px) {
    .container {
        align-items: flex-start;

        .container-login {
            .login-form {
                margin-top: 10px;

                &-title {
                    font-size: 2rem;
                    margin-bottom: 20px;
                }

                .input-form {

                    &-user {
                        font-size: 1rem;
                    }
                }

                &-btn {
                    margin-top: 20px;
                }

                &-message {
                    font-size: 1rem;
                }
            }
        }
    }
}