// base color
//btn
$btn-default:dodgerblue;
$btn-text: aliceblue;
$btn-error:#999;

// text
$text:#333;
$text-error:tomato;
$text-success:green;
$text-logo:yellow;

//bg
$bg-app:#dedede;
$bg-input: #fff;
$bg-noti:tomato;

// border color
$bg-border:#999;

// :export {
//   textError: $text-error;
// }
