.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 10px;
  max-height: 10vh;

  &-noty {
    display: flex;
    gap: 10px;

    &-bell {
      position: relative;

      &-qty {
        position: absolute;
        top: -10%;
        right: -30%;
        border-radius: 50%;
        background-color: tomato;
        color: antiquewhite;
        font-weight: 500;
        padding: 0 6px;
        font-size: 0.8rem;
      }
    }
  }
}

.drawer-logout {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 75%;
  transform: translate(-50%, 0%);
}